@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model List<Student>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.5.2/dist/css/bootstrap.min.css">
    <title>Bootstrap Table</title>
</head>
<body>
    <div class="container">
        <h1>Danh sách sinh </h1>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th class="text-center">Mã SV</th>
                    <th class="text-center">Tên</th>
                    <th class="text-center">Giới tính</th>
                    <th class="text-center">Thành phố</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var student in Model)
                {
                    <tr>
                        <td class="text-center">@student.Id</td>
                        <td class="text-center">@student.Name</td>
                        <td class="text-center">@student.Gioitinh</td>
                        <td class="text-center">@student.ThanhPho</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <!-- Đường dẫn đến JavaScript của Bootstrap (nếu cần) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.5.2/dist/js/bootstrap.min.js"></script>
</body>
</html>
